.slidesPanel {
  width: 15%;
  background: white;
  border-right: 1px solid #dadce0;
  display: flex;
  flex-direction: column;
}

.previewNoEvents {
  pointer-events: none;
  user-select: none;
}

.slidesPanelHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 5px;
  border-bottom: 1px solid #dadce0;
}

.slidesPanelHeader h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3c4043;
}

.slidesList {
  flex: 1;
  overflow-y: auto;
  padding: 6px 8px;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.slideThumbnail {
  margin: 10px;
  padding: 4px;
  cursor: pointer;
  border: 2px solid #3c4043;
  border-radius: 4px;
  overflow: hidden;
  height: calc(100% * 0.2);
}

.slideThumbnail.active {
  border: 5px solid #007acc;
}

.slideThumbnail * {
  cursor: inherit;
}

.thumbScale {
  cursor: inherit;
}

.slideThumbnail.active,
.slideThumbnail.active * {
  cursor: pointer;
}
.thumbnailSlide {
  width: 960px;
  height: 477px;
  border: 1px solid #ccc;
  background-color: white;
  pointer-events: none;
}

.slideThumbnail * {
  cursor: pointer;
}
