.presentationHeader {
  background: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 2px 7px;
  flex-grow: 1;
}

.logoIcon {
  width: 40px;
  height: 40px;
  padding: 2px;
}

.presentationTitle {
  border: none;
  background: transparent;
  font-size: 30px;
  color: #3c4043;
  padding: 8px 12px;
  width: 100%;
}